<%= link_to "Docs", docs_path %>

<%= form_for(@doc) do |f| %>
<table>
  <tr>
    <td>Number</td>
    <td><%= f.text_field :number %></td>
  </tr>
  <tr>
    <td>Date of Issue</td>
    <td><%= f.date_field :date_of_issue dateFormat: "yyyy-mm-dd" %></td>
  </tr>
  <tr>
    <td>Link</td>
    <td><%= f.text_field :link %></td>
  </tr>
  <tr>
    <td>title</td>
    <td><%= f.text_field :title %></td>
  </tr>
</table>
<%= f.submit %>
<% end %>
